
body{
    margin: 0px;
    padding: 0px;
}
.banner{
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 600px;
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
}
.banner-item{
    color: white;
    font-size: 50px;
    text-align: center;
}
.banner-header{
    padding-top: 100px;
}